@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

// Variaveis

    // Cores
    $color-tx: #fff;
    $color-title: #F4EEE0;
    $color-cyan-dark: #04293A;
    $color-cyan-light: #052d40;
    $color-beige: #ECB365;
    $color-grey: #fff2d765;

    // Fontes
    $ft-title: "Roboto", sans-serif;
    $ft-tx: "Playfair Display", serif;
    $ft-st-home: "Source Code Pro", mono-space;

    
