@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F2544;
    color: #FFF;
    font-family: 'Rubik', sans-serif;;
}

.container {
    margin: 256px;
    border-style: groove;
    border-width: 2px;
    padding: 30px;
    border-radius: 8px;
    font-size: 32px;
}

input {
    border: 2px solid;
    border-radius: 8px;
    height: 39px;
    font-size: 36px;
}

textarea {
    border-radius: 8px;
    margin-top: 8px;
    font-size: 32px;
}

button {
    height: 32px;
    width: 256px;
    
}

h1 {
    text-align: center;
    margin-top: 30px; 
    margin-bottom: 30px;
    font-size: 100px;
}