@use "../abstract/var";
@use "../abstract/mixins";

.assessments {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5em 0.5em 0.5em 0.5em;
    height: 50vh;
    background-color: var.$color-cyan-dark;
    color: var.$color-tx;

    .swiper-slide {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2em;

        &__text {
            @include mixins.ff-fs-cl(var.$ft-tx, 1.5rem);
            font-weight: 400;
            letter-spacing: 2px;
            text-align: center;
            padding: 0.7em
        }

        &__critical {
            @include mixins.ff-fs-cl(var.$ft-title, 1.2em, var.$color-beige);
            font-weight: 200;
            letter-spacing: 4px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next,
    .swiper-scrollbar {
        display: none;
    }
}

// @media (min-width: 1400px) {
    
//     .swiper-slide__text {
        
//     }
    
// }