@use "../abstract/var";
@use "../abstract/mixins";

.contact-container {
    background-color: var.$color-cyan-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;

    &__title {
        @include mixins.ff-fs-cl(var.$ft-title, 1.2em, var.$color-beige);
        letter-spacing: 6px;
        font-weight: 200;
        padding-top: 1em;
    }

    .site-contact {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        text-align: center;
        padding: 1em 1.5em;

        &-container {
            @include mixins.ff-fs-cl(var.$ft-tx, 1em, var.$color-grey);
            display: flex;
            flex-direction: column;
            gap: 0.3em;
        }
    }

}

.footer {
    background-color: var.$color-cyan-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;

    &__text {
        padding: 1em;
        @include mixins.ff-fs-cl(var.$ft-tx, 1em, var.$color-grey);
    }
}

.fa {
    padding: 0.5em 0.2em ;
    font-size: 1.5em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    color: var.$color-grey;
}

@media (min-width: 1100px) {
    .contact-container .site-contact {
        flex-direction: row;
    }
}